body {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

header h1 {
    color:rgb(255, 255, 255);
    background-color: crimson;
}

header h4 {
    margin-top: 30px;
    color:crimson;
}

header p {
    margin-top: -10px; 
    font-size:small;
}


.inputsection {
    display: flex;
    flex-direction: column;
}

.gambar img {
    width: 300px; 
    height: auto;
   }

.gambar {
    display: flex;
    justify-content: center;
    align-items: center;
   }

#squareside {
    margin-top: 10px;
    outline: none;
    border-radius: 7px;
    border: solid crimson;
    padding: 10px;
}

#squareside:focus {
    border: solid crimson;
}

button {
    background-color: crimson;
    color: white;
    border: none;
    margin-top: 5px; 
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(99, 24, 24);
}

button:active {
    background-color: rgb(58, 12, 12);
    transform: translateY(3px);
}

.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .text {
    text-align: flex;
    font-size: 13px;
  }
  
  .formula {
    margin-bottom: 5px;
  }
  
  .explanation {
    letter-spacing: 0px; /* Adjust letter spacing as needed */
  }